body {
    text-align: center;
    vertical-align: middle;
    /* background-color: #FC9E4F; */
    background: radial-gradient(#126f1f, #135128);
    /* background: radial-gradient(#82CD47, #379237); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
  color: #0F0C4C;
  text-shadow: 0 0 6px #dccbc9;
  font-size: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

button {
  margin-top: 30px;
  background-color: #f44336; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.card-container { /* blue container */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* border: 3px solid blue; */
}

.container { /* red container */
/*   margin: 50; */
  display: flex;
  /* border: 3px solid red; */
  flex-wrap: wrap;
  justify-content: center;
}

.card { /* green container */
  /* border: 3px solid green; */
  border-radius: 10px;
  width: 150px;
  height: 200px;
  margin: 20px;
}

@media (max-width: 900px) {
    .card-container { /* blue container */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 3px solid purple; */
  }

  .card {
    border-radius: 10px;
    width: 90px;
    height: 120px;
    margin: 10px;
  }

  h1 {
    margin: 25px auto;
    color: #0F0C4C;
    text-shadow: 0 0 6px #dccbc9;
    font-size: 2.5rem;
  }

  button {
    margin-top: 30px;
    background-color: #f44336; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}